.btn-primary{
    background:rgba(218, 165, 32,0.3) !important;
    backdrop-filter: blur(5px);
    color:white !important; 
    border:1px solid goldenrod !important;
}
.btn-primary:focus{
    background:goldenrod !important;  
}
.overlay-black{
    position: absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
    height:100%;
    width:100%;
    z-index:1;
}
.carousel-caption{
    z-index: 22;
    position: absolute;
    top: 60%;
    left:50%;
    transform: translate(-50%,-50%);
}
.nav-link{
    padding:5px 15px !important;
    margin:10px;
}
.nav-link:hover{
    background:goldenrod !important;
}
.color-gold{
    color:goldenrod !important
}
.bg-gold{
    background:goldenrod !important
}
.navbar{
        background:rgba(0,0,0,0.7);
        backdrop-filter:blur(4px);
        margin-top:5px;
        border-radius:5px;
    } 
@media only screen and (max-width:550px){
    .carousel-caption{
        width:90%;
        top:45%;
        font-size:.8rem;
    }
}